<div class="shadow">
  <img src="css/logotech.png" id ="logo-img">
</div>
<div class = "container-ls">
  <div class="shadow-login">
    <h3>Login</h3>
    <form class="form login-form">
      <div class="form-group">
        <input class="form-input" type="text" id="email-login" placeholder="Email" />
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-login" placeholder="Password" />
      </div>
      <div class="form-group">
        <button id ="login-btn" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="shadow-signup">
    <h3>Sign Up</h3>
    <form action="/api/users" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" id="signup-btn" />
    </form>
  </div>
</div>

<script src="/js/login.js"></script>