*{
  font-family: 'Bungee', cursive;
}

/* LOGIN PAGE */ 

div.shadow {
  position:absolute;
  max-width:45%;
  max-height:45%;
  top:30%;
  left:50%;
  overflow:visible;
}
#logo-img{
  position:relative;
  max-width:100%;
  max-height:100%;
  margin-top:-50%;
  margin-left:-50%
}

div.shadow-login {
  position:absolute;
  max-width:45%;
  max-height:45%;
  top:45%;
  left:30%;
  overflow:visible;
  padding-right: 5%;
  border-right: 1px dashed black;
}
div.shadow-signup {
  position:absolute;
  max-width:15%;
  max-height:45%;
  top:45%;
  left:55%;
  overflow:visible;
}
div.form-group{
  position: static;
  max-width:100%;
  max-height:100%;
  left: 10%;
  right: auto;
}
.btn-primary{
  margin-left: 25%;
  margin-top: 10%;
}

#signup-btn{
  margin-left: 22%;
  margin-top: 5%;
}

#logout{
  float: right;
  margin-top: -4%;
  margin-right: 2%;
}
/* HOME PAGE */ 
.nav-home{
  background-color: white;
  overflow: hidden;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  width: 100%;
  border-radius: 5px;  
}
#img-home{
  height: 60px;
}


/* BLOGS */ 

.blog-container{
  margin: auto;
  width: 60%;
  border-bottom: 1px dashed #888888;
  padding: 10px;
  margin-top: 2%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.newest-posts{
  margin-left: 3%;
}
.posted-by{
  font-size: 12px;
  margin-left: 80%;
  margin-top: 5%;
  font-style: italic;
}